.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
   margin-left: auto; /* 왼쪽 마진을 자동으로 설정 */
    margin-right: auto; /* 오른쪽 마진을 자동으로 설정 */
}

.card {
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    max-width: 450px; /* 최대 너비 설정 */
    text-align: center; /* 텍스트를 가운데 정렬 */
	
}

.card-image {
    flex: 0 0 150px; /* 이미지 크기 조정 */
    margin-left: auto;
    margin-right: auto;
}

.card-image img {
    width: 100%;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
}

.card-content {
    flex-grow: 1;
}

.card-content h3 {
    margin-top: 0;
}
button {
    background-color: rgb(46, 46, 46);
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}


button a {
    color: white; /* 글씨 색상을 흰색으로 설정 */
    text-decoration: none; /* 밑줄 제거 */
}